In [2]:
# Bài 1
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])

name = ['An', 'Bình', 'Châu', 'Dũng']
score = [8.5, 7.0, 6.5, 9.0]
df = pd.DataFrame({'name': name, 'score': score})

print("Series:")
print(s)

print("\nDataFrame info:")
df.info()

print("\nDataFrame describe:")
print(df.describe())

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   score   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes

DataFrame describe:
          score
count  4.000000
mean   7.750000
std    1.190238
min    6.500000
25%    6.875000
50%    7.750000
75%    8.625000
max    9.000000

In [4]:
# Bài 2
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({'name': name, 'age': age, 'score': score})

high_score = df.loc[df["score"] >= 8]
age_column = df.iloc[:, 1]
filtered = df.query("score > 7 and age < 23")

print("DataFrame filtered by loc[]:")
print(high_score)

print("DataFrame filtered by iloc[]:")
print(age_column)

print("DataFrame filtered by query():")
print(filtered)

print("\nDataFrame describe:")
print(df.describe())

DataFrame filtered by loc[]:
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0
DataFrame filtered by iloc[]:
0    20
1    21
2    22
3    20
Name: age, dtype: int64
DataFrame filtered by query():
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0

DataFrame describe:
             age     score
count   4.000000  4.000000
mean   20.750000  7.750000
std     0.957427  1.190238
min    20.000000  6.500000
25%    20.000000  6.875000
50%    20.500000  7.750000
75%    21.250000  8.625000
max    22.000000  9.000000

In [5]:
# Bài 3
import pandas as pd

name = ['Nam', 'Bình', 'Châu', 'Dũng']
age = [20, None, 22, 20]
score = [8.5, None, 6.5, 9.0]
df = pd.DataFrame({'name': name, 'age': age, 'score': score})

print("Dữ liệu thiếu kiểm tra bằng isna()")
print(df.isna())

mean_age = df['age'].mean()
print("\nDataFrame sau khi thay thế NaN bằng fillna():")
print(df.fillna(mean_age))

print("\nDataFrame sau khi loại bỏ NaN bằng dropna():")
print(df.dropna())

Dữ liệu thiếu kiểm tra bằng isna()
    name    age  score
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False

DataFrame sau khi thay thế NaN bằng fillna():
   name        age      score
0   Nam  20.000000   8.500000
1  Bình  20.666667  20.666667
2  Châu  22.000000   6.500000
3  Dũng  20.000000   9.000000

DataFrame sau khi loại bỏ NaN bằng dropna():
   name   age  score
0   Nam  20.0    8.5
2  Châu  22.0    6.5
3  Dũng  20.0    9.0

In [7]:
# Bài 4
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]
df = pd.DataFrame({'name': name, 'age': age, 'score': score})

df['age'] = df['age'].apply(lambda x: 'Young' if x <= 20 else "Adult")
print('DataFrame sau khi áp dụng apply():')
print(df)

score_map = {8.5: "Excellent", 7.0: "Good", 6.5: "Average", 9.0: "Excellent"}
df['score_level'] = df['score'].map(score_map)
print("\nDataFrame sau khi map():")
print(df, "\n")

df['score'] = df['score'].astype(int)
print("DataFrame sau khi astype():")
print(df[['name', 'age', 'score']], "\n")

df['name'] = df['name'].replace("Bình", "Bình (Updated)")
print("DataFrame sau khi replace():")
print(df)

DataFrame sau khi áp dụng apply():
   name    age  score
0    An  Young    8.5
1  Bình  Adult    7.0
2  Châu  Adult    6.5
3  Dũng  Young    9.0

DataFrame sau khi map():
   name    age  score score_level
0    An  Young    8.5   Excellent
1  Bình  Adult    7.0        Good
2  Châu  Adult    6.5     Average
3  Dũng  Young    9.0   Excellent

DataFrame sau khi astype():
   name    age  score
0    An  Young      8
1  Bình  Adult      7
2  Châu  Adult      6
3  Dũng  Young      9

DataFrame sau khi replace():
             name    age  score score_level
0              An  Young      8   Excellent
1  Bình (Updated)  Adult      7        Good
2            Châu  Adult      6     Average
3            Dũng  Young      9   Excellent

In [27]:
# Bài 5
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]
df = pd.DataFrame({'name': name, 'age': age, 'score': score})

grouped = (
    df.groupby('age')['score']
      .agg(mean_score='mean', min_score='min', max_score='max')
      .reset_index()
)

print("Groupby age:")
print(grouped)

print('\n', df)

Groupby age:
   age  mean_score  min_score  max_score
0   20        8.75        8.5        9.0
1   21        7.00        7.0        7.0
2   22        6.50        6.5        6.5

    name  age  score
0    An   20    8.5
1  Bình   21    7.0
2  Châu   22    6.5
3  Dũng   20    9.0

In [32]:
# Bài 6
import pandas as pd

df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['An', 'Bình', 'Châu']})
df2 = pd.DataFrame({'id': [1, 2, 3], 'score': [8.5, 7.0, 6.5]})

merged_df = df1.merge(df2)
print("Merged DataFrame:")
print(merged_df)

df_age = pd.DataFrame({'age': [20, 21, 22]})
concatenated_df = pd.concat([merged_df, df_age], axis=1)
print("\nConcatenated DataFrame:")
print(concatenated_df)

Merged DataFrame:
   id  name  score
0   1    An    8.5
1   2  Bình    7.0
2   3  Châu    6.5

Concatenated DataFrame:
   id  name  score  age
0   1    An    8.5   20
1   2  Bình    7.0   21
2   3  Châu    6.5   22

In [33]:
# Bài 7
import pandas as pd

date = ['2023-01-01', '2023-02-01', '2023-03-01']
name = ['An', 'Bình', 'Châu']

df = pd.DataFrame({'date': date, 'name': name})
df['date'] = pd.to_datetime(df['date'])

year_extracted = df['date'].dt.year
month_extracted = df['date'].dt.month
day_extracted = df['date'].dt.day

df['name'] = df['name'].astype('category')

print(df)
print("\nExtracted Year:")
print(year_extracted)
print("\nExtracted Month:")
print(month_extracted)
print("\nExtracted Day:")
print(day_extracted)
print("\nCategory Type for name:")
print(df['name'])

        date  name
0 2023-01-01    An
1 2023-02-01  Bình
2 2023-03-01  Châu

Extracted Year:
0    2023
1    2023
2    2023
Name: date, dtype: int32

Extracted Month:
0    1
1    2
2    3
Name: date, dtype: int32

Extracted Day:
0    1
1    1
2    1
Name: date, dtype: int32

Category Type for name:
0      An
1    Bình
2    Châu
Name: name, dtype: category
Categories (3, object): ['An', 'Bình', 'Châu']

In [8]:
# Bài 8
import os
import json
import pandas as pd
import re

folder = "logs"
records = []

pattern = re.compile(r"log_(\d{4}-\d{2}-\d{2})\.json")

for filename in os.listdir(folder):
    match = pattern.match(filename)
    if not match:
        continue
    date = pd.to_datetime(match.group(1))
    
    filepath = os.path.join(folder, filename)
    with open(filepath, "r", encoding="utf-8") as f:
        data = json.load(f)
    
    records.append({
        "date": date,
        "user": data.get("user"),
        "action": data.get("action"),
        "duration": data.get("duration", 0)
    })

df = pd.DataFrame(records)
report = df.groupby("date")["duration"].sum().reset_index()

report.to_csv("duration_report.csv", index=False)

print(report)

        date  duration
0 2024-01-01         5
1 2024-01-02         3